.clock-container {
  background-color: #e9a14e;
  border-radius: 16px;
  padding: 30px 50px 40px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  color: rgb(0, 0, 0);
  font-size: 40px;
  margin-bottom: 20px;
  font-family: 'Roboto';
  font-weight: 400;
}

.time {
  color: rgb(66, 6, 6);
  font-size: 60px;
  margin: 20px;
  font-family: 'Roboto';
}
